<%= render 'layouts/homepage_header' %>
<div class="center">
  <h1 class="lobster-font">RECORD CABINET</h1>
  <h6>A visual bookmarking tool for your favorite records.</h6>
</div>

<div class="center top-padding-5">
  <a class="waves-effect pink darken-1 btn-large">Signup!</a>
</div>


