/*.general-container{
  margin: 5%;
  margin-left: 10%;
}
*/
.grid{
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 280px;
}


.grid-item {
  float: left;
  margin-bottom: 5%;
}

img {
  width: 100%;
}