a {
  color: black;
}

a:hover {
  color: #d81b60;
}

.row {
  height: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.row .col.s3 {
    width: 30%;
    margin-left: 0;
    /*border-right: 3px solid black;*/
    padding-right: 3%;
    padding-left: 3%;
}

.lobster-font{
  font-family: 'Lobster', cursive;
}

.top-padding-5{
  padding-top: 5%;
}

.header-link-uno{
  width: 5em;
  margin: 3%;
  display: inline-block;
}

.link-text-size{
  font-size: 1.5em;
}
