<%= render 'layouts/homepage_header' %>

<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <img src="http://coverlib.com/pub/Archiv/01502500/01502415.JPG">
    </div>

    <div class="grid-item">
      <img src="http://cdn.pitchfork.com/tracks/14893/homepage_large.b83edbbb.jpg">
    </div>

    <div class="grid-item">
      <img src="https://upload.wikimedia.org/wikipedia/en/a/a0/Sergio_Mendes_%26_Brasil_'66_Look_Around.jpg">
    </div>

    <div class="grid-item">
      <img src="http://www.muurileht.ee/media/Plaadiarvustus_Jessy-Lanza_Pull-My-Hair-Back.jpg">
    </div>

    <div class="grid-item">
      <img src="http://www.jimihendrix.com/sites/jhendrix/files/imagecache/280x280/HENDRIX_PurpleBox_coverSQUARE.jpg">
    </div>

    <div class="grid-item">
      <img src="http://3.bp.blogspot.com/-sdFbA4rhFvg/UaVKCEIf6rI/AAAAAAAAZ94/8uFsYj_bgNo/s1600/mullet.jpg">
    </div>

    <div class="grid-item">
      <img src="http://cdn3.pitchfork.com/albums/21019/homepage_large.9569ddbe.jpg">
    </div>

    <div class="grid-item">
      <img src="http://ecx.images-amazon.com/images/I/81bfBhEfIxL._SL1500_.jpg">
    </div>
</div>