<div class="row">
  <div class="center">
      <div class="header-link-uno"><%= link_to "Home", root_path, class: "lobster-font link-text-size" %></div>
      <div class="header-link-uno"><%= link_to "Cabinets", cabinets_path, class: "lobster-font link-text-size"%></div>
      <div class="header-link-uno"><a href="#modal1" class="lobster-font link-text-size">Login</a></div>
  </div>
</div>